{% load static %}
{% load form_tags %}
<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block title %}Pokelageret{% endblock %} - Pokémon Kort</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/bottom_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>
  <meta name="description" content="{% block meta_description %}Pokelageret er en ledende butikk for Pokémon kort i Norge. Vi tilbyr et bredt utvalg av Pokémon kort og samlerutstyr, med fokus på kvalitet og kundetilfredshet.{% endblock %}">
  <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon/favicon-32x32.png">
{% block extra_head %}
{% endblock %}
</head>
<body>
  <header>
    <nav>

<div id="overlay" onclick="closeMobileMenu()"></div>
<!-- Mobile Menu Icon -->
<a href="javascript:void(0);" class="menu-icon" onclick="openMobileMenu()">
  <img src="{{ MEDIA_URL }}icons/menu.png" alt="Kategorier">
</a>

      <ul class="nav-list">
        <li><a href="{% url 'hjem' %}">{{ text_areas_all.nav_item_1 }}</a></li>
        <li><a href="{% url 'products' %}">{{ text_areas_all.nav_item_2 }}</a></li>
        <li><a href="{% url 'about_us' %}">{{ text_areas_all.nav_item_3 }}</a></li>
        <li><a href="{% url 'contact' %}">{{ text_areas_all.nav_item_4 }}</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'administration' %}">Administrasjon</a></li>
        {% endif %}
      </ul>
      <
      <!-- Logo -->
      <div class="nav-logo">
        <a href="{% url 'hjem' %}">
          <img src="{{ MEDIA_URL }}pl_logo_wide_black.png" alt="Logo">
        </a>
      </div>

    <a href="#" class="search-icon">
      <img src="{{ MEDIA_URL }}icons/magnifying-glass.png" alt="Søk">
    </a>

  <div class="nav-search">
    <form method="get" action="{% if request.path == '/search/' %}{% url 'general_search' %}{% else %}{% url 'products' %}{% endif %}">

      <input type="text" placeholder="Søk..." name="query">
      <button type="submit">
        <img class="nav-icon" style="width:18px" src="{{ MEDIA_URL }}icons/magnifying-glass.png" alt="Søk">
      </button>
    </form>
  </div>

<div class="nav-icons">
    <a href="{% url 'login' %}" class="account-icon">
        <img class="nav-icon" style="width:18px" src="{{ MEDIA_URL }}icons/avatar.png" alt="Logo">
    </a>
    <a class="account-icon" style="position: relative; cursor: pointer;" id="cart-icon">
        <img class="nav-icon" style="width:18px" src="{{ MEDIA_URL }}icons/shopping-cart.png" alt="Logo">
        <span class="cart-count" style="display: none; position: absolute; top: 0px; right: 0px; background-color: red; color: white; border-radius: 50%; width: 15px; height: 15px; text-align: center; line-height: 15px; font-size: 10px;">0</span>
    </a>
</div>

    </nav>
</header>


<!-- Mobile Menu Structure -->
<div id="mobileMenu" class="mobile-menu">
  <!-- Close Button -->
  <a href="javascript:void(0);" class="closebtn" onclick="closeMobileMenu()">&times;</a>
  
  <!-- Menu Content -->
  <div class="menu-content">
    {% for category in all_categories %}
      {% if not category.parent and category.name != "hyttemøbler" %}
        <h4 class="filter-title-m"><a href="{% url 'category_search' category.name %}">{{ category.name|title }}</a></h4>
        {% if category.subcategories.all %}
          <ul class="filter-options-m">
            {% for subcategory in category.subcategories.all %}
              <li>
                <a href="{% url 'category_search' subcategory.name %}">{{ subcategory.name|title }}<span class="item-count">{{ subcategory.name|get_category_count }}</span></a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>

</div>
<div id="searchModal" class="search-modal">
  <div class="search-content">
    <form method="get" action="{% if request.path == '/search/' %}{% url 'general_search' %}{% else %}{% url 'products' %}{% endif %}">
      <!-- Just the text input, styled to look like the full search bar -->
      <input type="text" placeholder="Søk..." name="query">
      <!-- Hidden submit button -->
      <button type="submit"></button>
    </form>
  </div>
</div>

<div id="cart-overlay" class="cart-overlay">
  <div class="cart">
    <div class="cart-header">
      <h2>Handlekurv</h2>
      <button id="close-cart-btn" class="close-cart-btn">&times;</button>
    </div>
    <div class="cart-items">
      <!-- DYNAMICALLY INSERTED BY JS -->
    </div>
    <div class="cart-footer">
      <div class="subtotal">
        <span>Totalsum</span>
        <span class="total-price">{{ total_price }} KR</span>
      </div>
      <a href="{% url 'checkout' %}">
        <button class="checkout-btn">Til betaling</button>
      </a>
    </div>
  </div>
</div>

<!--
<div class="bottom-nav">
  <a href="#" class="nav-item">
    
    <img src="{{ MEDIA_URL }}icons/menu.png" alt="Kategorier">
  </a>
  <a href="#" class="nav-item">
    <img src="{{ MEDIA_URL }}icons/magnifying-glass.png" alt="Søk">
  </a>
  <a href="#" class="nav-item">
    <img src="{{ MEDIA_URL }}icons/house.png" alt="Hjem">
  </a>
  <a href="#" class="nav-item">
    <img src="{{ MEDIA_URL }}icons/shopping-cart.png" alt="Handlekurv">
  </a>
  <a href="#" class="nav-item">
    <img src="{{ MEDIA_URL }}icons/avatar.png" alt="Account">
  </a>
</div>
-->


    {% block content %}{% endblock %}

    {% block extra_scripts %}{% endblock %}

{% block scripts %}
{% endblock %}


<script>
document.addEventListener('DOMContentLoaded', function () {
  var searchIcon = document.querySelector('.search-icon');
  var searchModal = document.getElementById('searchModal');
  var mainContent = document.getElementById('mainContent');

  searchIcon.addEventListener('click', function(event) {
    event.preventDefault();
    searchModal.style.display = "flex"; // Show the modal
    mainContent.classList.add("modal-open");
  });

  // This function will handle closing the modal
  function closeModal(event) {
    if (event.target === searchModal) {
      searchModal.style.display = "none";
      mainContent.classList.remove("modal-open");
    }
  }

  // Close the modal if the user clicks or touches anywhere outside the .search-content
  window.addEventListener('click', closeModal);
  window.addEventListener('touchstart', closeModal); // Listen for touch events
});

function openMobileMenu() {
  var menu = document.getElementById("mobileMenu");
  var overlay = document.getElementById("overlay");
  
  // Set initial states before displaying them
  menu.style.transform = "translateX(-100%)";
  overlay.style.opacity = "0";
  
  // Make the menu and overlay visible
  menu.style.display = "block";
  overlay.style.display = "block";
  
  // Trigger the transitions after a brief timeout
  setTimeout(function() {
    menu.style.transform = "translateX(0)";
    overlay.style.opacity = "1";
  }, 10);
}

function closeMobileMenu() {
  var menu = document.getElementById("mobileMenu");
  var overlay = document.getElementById("overlay");
  
  // Start the transitions
  menu.style.transform = "translateX(-100%)";
  overlay.style.opacity = "0";
  
  // Set a timeout to match the transition duration
  setTimeout(function() {
    menu.style.display = "none"; // Hide the menu after the transition
    overlay.style.display = "none"; // Also hide the overlay
  }, 300); // Match the timeout to your CSS transition time
}
</script>
</body>
</html>