/* Cart Overlay */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden; /* Hide with visibility */
  opacity: 0; /* Start fully transparent */
  transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out; /* Smooth transition for opacity, delay hiding visibility */
}

/* Cart slide in/out */
.cart {
  width: 30%;
  background: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  right: -50%; /* Start from outside of the screen */
  bottom: 0;
  overflow-y: auto;
  z-index: 1001;
  visibility: hidden; /* Hide with visibility */
  transition: visibility 0s linear 0.5s, right 0.5s ease-in-out; /* Smooth transition for sliding, delay hiding visibility */
}

/* Adjusted styles for showing the cart */
.cart-overlay.show,
.cart.show {
  visibility: visible;
  opacity: 1;
  right: 0;
  transition: visibility 0s 0s, opacity 0.5s ease-in-out, right 0.5s ease-in-out;
}

/* Header Styles */
.cart-header {
  font-size: 1.0vw; 
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-cart-btn {
  font-size: 1.0vw; 
  background: none;
  border: none;
  cursor: pointer;
}

/* Cart Item Styles */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.cart-item img {
  width: 5vw; /* Ensuring image size is consistent */
  margin-right: 10px;
  border-radius: 5px;
}

.cart-item-details {
  flex-grow: 1; /* Takes up maximum space */
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  justify-content: center; /* Centers children vertically */
  align-items: flex-start; /* Aligns children to the start horizontally */
}


.cart-item-title {
  margin: 0 0 5px 0; /* Adds 5px margin to the bottom of the title */
}
.cart-item-price {
  margin: 0; /* Ensures no additional space is added to the price */
}
.cart-item-info {
  display: flex;
  align-items: center; /* Aligns children of cart-item-info vertically in the center */
  justify-content: space-between; /* Ensures distance between details and quantity */
  width: 100%;
}
.cart-item-title {
  font-size: 0.6vw;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Ensures text does not push other elements out of view */
}

.cart-item-quantity {
  width: 100px; /* Fixed width for quantity controls */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligns buttons to the right */
}
.cart-item-price {
  font-size: 0.6vw;
}
.quantity-btn {
  padding: 0 0.5vw;
  font-size: 0.8vw;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.quantity-text {
  margin: 0 10px;
}
.cart-item-info > :first-child, .cart-item-info > :last-child {
  flex-basis: 50%;
}
/* Subtotal and Checkout Button Styles */
.cart-footer {
  position: sticky;
  bottom: 0;
  background: white;
  padding: 20px;
}

.subtotal {
  font-size: 0.9vw;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  background: #000;
  color: #FFF;
  text-align: center;
  font-size: 0.9vw;
  padding: 10px 20px;
  width: 100%;
  border: none;
  cursor: pointer;
}

/* Payment Methods Styles */
.payment-methods {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.remove-item {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  color: #000; /* Or any color you prefer */
}

.sale-price {
    color: #F00; /* Or any color that indicates a sale */
    font-weight: bold;
}

.normal-price {
    text-decoration: none;
    color: #000; /* Default color for non-sale price */
}

.normal-price.struck {
    text-decoration: line-through;
    color: #777; /* Grayed out color for original price that is on sale */
}

.cart-small-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.cart-small-items h3 {
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.product-item {
    position: relative;
    flex: 0 1 calc(20% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    overflow: hidden;
}

.product-item .product-image {
    width: 100%;
    filter: grayscale(0%);
    transition: filter 0.5s ease; /* Ensures the transition applies to the filter effect at all times */
    border-radius: 10px;

}

.product-item:hover .product-image {
    filter: grayscale(100%);
}

.product-item .add-to-cart-btn-ajax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Adjust visibility transition timing */
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
    cursor: pointer;
    visibility: hidden;
    border-radius: 10px;
}

.product-item:hover .add-to-cart-btn-ajax {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s; /* Immediate visibility when hovered */
}

.product-item .product-title {
    font-size: 0.6vw;
    margin-top: 5px;
    font-weight: bold;
}

.product-item .product-price {
    font-size: 0.6vw;
    color: #333;
    margin-bottom: 5px;
}
