.confirmation-page {
    background: #fff;
    margin: 50px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.confirmation-header {
    background: #f9f9f9;
    padding: 30px;
    text-align: center;
}

.confirmation-header h1 {
    color: #b32b39;
    margin-bottom: 10px;
}

.billing-address, .order-summary {
    padding: 20px 30px;
}

.billing-address h2, .order-summary h2 {
    color: #333;
    margin-bottom: 10px;
}

.order-info, .itemized-summary, .totals {
    padding-top: 20px;
}

.order-info p, .totals p {
    margin-bottom: 5px;
    line-height: 1.4;
}

.order-info strong, .totals strong {
    color: #333;
}

.product-summary {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.product-summary img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}

.product-details {
    flex: 1;
}

.product-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.product-price {
    color: #333;
    margin-bottom: 5px;
}

.product-quantity {
    font-size: 14px;
    color: #666;
}

.totals {
    margin-top: 20px;
}

.totals p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #b32b39;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    margin: 20px 30px;
    font-size: 16px;
}

.actions {
    text-align: center;
    padding: 20px 30px;
    background: #f9f9f9;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: flex-start;
    border-bottom: 2px solid #eee;

}
.content-wrapper > :last-child {
    margin-right: 0;
}
.billing-address, .order-summary {
    flex: 1;
    margin-right: 30px; /* Add some space between the columns */
}
