{% extends 'base/base.html' %}

{% load static %}

{% block content %}



<style>
    .container {
        width: 60%;
        margin: 30px auto;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .header, .footer {
        padding: 20px;
        background-color: #f9f9f9;
        border-bottom: 2px solid #e1e1e1;
    }

    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-header, .right-header {
        padding: 10px;
    }
    .right-header {
        text-align: right;
    }

    .header-section h1, .header-section h2 {
        font-size: 22px;
        color: #333;
    }

    .header-section p {
        margin: 5px 0;
        font-size: 16px;
        color: #666;
    }

    .content {
        padding: 20px;
    }

    .content table {
        width: 100%;
        border-collapse: collapse;
    }

    .content th, .content td {
        padding: 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .content th {
        background-color: #f2f2f2;
    }

    .footer {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .footer button {
        padding: 10px 20px;
        margin: 0 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .footer button:hover {
        background-color: #0056b3;
    }
</style>


<div class="container">
    <div class="header">
        <div class="header-section">
            <div class="left-header">
                <h1>Ordre #{{ order.order_number }}</h1>
                <p>Fakturanummer: <span>#10538</span></p>
                <p>Betalingsmåte: <span>{{ payment_method }}</span></p>
                <p>Ordrestatus: <span>{{ order.status }}</span></p>
            </div>
            <div class="right-header">
                <h2>{{ order.customer.name }}</h2>
                <p>Bestillingsdato: <span>{{ order.date_added }}</span></p>
                <p>Telefon: <span>{{ order.customer.phone_number }}</span></p>
                <p>Epost: <span>{{ order.customer.email }}</span></p>
                <p>Kundeadresse: <span>{{ order.customer.address }}</span></p>
            </div>
        </div>
    </div>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Antall</th>
                        <th>Pris</th>
                        <th>Total</th>
                        <th>Sent</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>

                        <td>{{ item.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.sale_price }}</td>
                        <td>1,498,00</td>
                        <td><input type="checkbox"></td>
                        <td>Mottatt</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="footer">
            <button>Edit Order</button>
            <button>Cancel Order</button>
            <button>Send Order</button>
        </div>
    </div>

{% endblock %}