

{% load static i18n %}

{% block extra_head %}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}

<div class="checkout-header">
    <div class="nav-logo">
        <a href="{% url 'hjem' %}">
            <img src="{{ MEDIA_URL }}pokelageret_logo_text.png" alt="Logo">
        </a>
    </div>
</div>
  <script>
        document.addEventListener('DOMContentLoaded', function() {
            const paymentRadios = document.querySelectorAll('input[name="payment_method"]');
            const form = document.getElementById('checkoutForm');

            function updateFormAction() {
                // Check if Klarna is selected
                const isKlarnaSelected = document.getElementById('klarna_radio').checked;

                // Update form action based on the selected payment method
                form.action = isKlarnaSelected ? "{% url 'klarna_checkout' %}" : "{% url 'checkout' %}";
            }

            // Attach the change event listener to each payment method radio button
            paymentRadios.forEach(radio => {
                radio.addEventListener('change', updateFormAction);
            });

            // Initialize form action correctly based on the selected payment method on page load
            updateFormAction();
        });
    </script>

<form id="checkoutForm" method="post" action="{% url 'checkout' %}" class="checkout-wrapper">
{% csrf_token %}
<div class="main-column">
        <div class="right-column-content">
            <!-- Order Summary Section -->
            <section class="order-summary-section">
                <h2 style="border-bottom: 1px solid #ccc">{% trans "Din bestilling" %}</h2>
                <!-- Dynamic Product Items will be injected here -->
                <!-- Subtotal, Shipping, and Total -->
            </section>
               <!-- Delivery Section -->
                    <section class="delivery-section">

                    <h2 style="margin-bottom:0px">Kundeinformasjon</h2>      
                    <div class="address-fields">
                        <div class="grid-item half-width">
                            <input type="text" name="first_name" placeholder="{% trans 'Fornavn' %}" required value="{{ customer.first_name|default_if_none:'' }}">

                        </div>
                        <div class="grid-item half-width">
                            <input type="text" name="last_name" placeholder="{% trans 'Etternavn' %}" required value="{{ customer.last_name|default_if_none:'' }}">

                        </div>
                        <div class="grid-item single">
                            <input type="text" name="address" placeholder="{% trans 'Adresse' %}" required value="{{ customer.address|default_if_none:'' }}">

                        </div>
                        <div class="grid-item half-width">
                            <input type="text" name="postal_code" placeholder="{% trans 'Postnummer' %}" required value="{{ customer.postal_code|default_if_none:'' }}">

                        </div>
                        <div class="grid-item half-width">
                            <input type="text" name="city" placeholder="{% trans 'By' %}" required value="{{ customer.city|default_if_none:'' }}">

                        </div>
                        <div class="grid-item single">
                           <input type="tel" name="phone" placeholder="{% trans 'Telefon' %}" required value="{{ customer.phone_number|default_if_none:'' }}">

                        </div>
                        <div class="grid-item single">
                           <input type="text" name="email" placeholder="{% trans 'E-post' %}" required value="{{ customer.email|default_if_none:'' }}">

                        </div>
                    </div>

                        <h2 style="margin-bottom:0px">Levering</h2>
                        <div class="delivery-options">
                            <div class="checkout-radio">
                                <input type="radio" id="delivery" name="delivery_option" value="delivery" onclick="toggleDeliveryOptions(true)">
                                <label for="delivery" class="radio-label">
                                    Sendes
                                    <img src="{{ MEDIA_URL }}icons/posten_logo.png" alt="Logo" class="radio-button-logo">
                                </label>
                            </div>
                            <div class="checkout-radio">
                                <input type="radio" id="pickup" name="delivery_option" value="pickup" onclick="toggleDeliveryOptions(false)">
                                <label for="pickup" class="radio-label">
                                    Hent i Sarpsborg
                                    <img src="{{ MEDIA_URL }}icons/house.png" alt="Logo" class="radio-button-logo">
                                </label>
                            </div>
                        </div>

                        <div class="shipping-options" id="shipping-options" style="display: none;">
                        <h2 style="margin-bottom:0px">Sendingsalternativer</h2>
                        <div class="delivery-options">
                            {% for option in shipping_options %}
                            <div class="checkout-radio">
                                <input id="shipping_radio_{{ forloop.counter }}" name="shipping_option" type="radio" value="{{ option.id }}" data-price="{{ option.price }}" data-free-shipping-limit="{{ option.free_shipping_limit }}">
                                <label for="shipping_radio_{{ forloop.counter }}" class="radio-label">
                                    {{ option.title }}
                                    <span class="radio-label-text">{{ option.price|default_if_none:"GRATIS" }} kr</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                                                   
                        <div class="pickup-address" id="pickup-address" style="display: none;">

                            <p>DELIVER</p>
                        </div>


                    </div>
                </section>
                <h2 style="margin-bottom:0px">Betaling</h2>
                    <div class="delivery-options" style="margin-bottom:20px">
                            <div class="checkout-radio">
                                <input id="klarna_radio" name="payment_method" type="radio" value="klarna">
                                <label for="klarna_radio" class="radio-label">
                                    Klarna
                                    <img src="{{ MEDIA_URL }}icons/klarna.png" alt="Logo" class="radio-button-logo" style="width:45px">
                                </label>
                            </div>
                            <div class="checkout-radio">
                                <input id="vipps_radio" name="payment_method" type="radio" value="vipps">
                                <label for="vipps_radio" class="radio-label" style="border-bottom:none;">
                                    Vipps
                                    <img src="{{ MEDIA_URL }}icons/vipps.png" alt="Logo" class="radio-button-logo" style="width:45px">
                                </label>
                            </div>
                            <div class="checkout-radio">
                                <input id="invoice_radio" name="payment_method" type="radio" value="invoice">
                                <label for="invoice_radio" class="radio-label">
                                    Faktura (etter avtale)
                                    <img src="{{ MEDIA_URL }}icons/contract.png" alt="Logo" class="radio-button-logo">
                                </label>
                            </div>


                        </div>

                <div class="summary-totals">
                    <div class="shipping">
                        <span class="label">{% trans "Frakt" %}</span>
                        <span class="price"></span>
                    </div>
                    <div class="total">
                        <span class="label">{% trans "Totalt" %}</span>
                        <span class="price">NOK kr 0</span> <!-- Initially set to 0 -->
                    </div>
                </div>
        </div>
            <div class="complete-order">
                <button type="submit" class="checkout-btn">Betal nå</button>
            </div>

    </div>
    </div>
</form>
{% endblock %}  