

{% load static i18n %}

{% block extra_head %}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}

<div class="checkout-header">
    <div class="nav-logo">
        <a href="{% url 'hjem' %}">
            <img src="{{ MEDIA_URL }}pokelageret_logo_text.png" alt="Logo">
        </a>
    </div>

</div>
<form id="checkoutForm" method="post" action="{% url 'klarna_checkout' %}" class="checkout-wrapper">
{% csrf_token %}
<div class="main-column">
        <div class="right-column-content">
            <!-- Order Summary Section -->
            <section class="order-summary-section">
                <h2 style="border-bottom: 1px solid #ccc">{% trans "Din bestilling" %}</h2>
                <!-- Dynamic Product Items will be injected here -->
                <!-- Subtotal, Shipping, and Total -->
            </section>
                <div class="summary-totals">
                    <div class="shipping">
                        <span class="label">{% trans "Frakt" %}</span>
                        <span class="price">{% trans "Gratis" %}</span>
                    </div>
                    <div class="total">
                        <span class="label">{% trans "Totalt" %}</span>
                        <span class="price">NOK kr 0</span> <!-- Initially set to 0 -->
                    </div>
                </div>
        </div>
            <div class="complete-order">
                <button type="submit" class="checkout-btn">Betal nå</button>
            </div>

    </div>
    </div>
</form>
{% endblock %}