{% extends "base/base.html" %}
{% load static %}
{% load form_tags %}
{% block title %}{{ product.title }} | Pokelageret{% endblock %}

{% block meta_description %}{{ product.description|slice:":155" }}{% endblock %}

{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/product_page.css' %}">
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{ product.title }}",
    "image": [
        {% for image in product.images.all %}
            "{{ image.image.url }}"{% if not forloop.last %},{% endif %}
        {% empty %}
            "{{ STATIC_URL }}default_image.png"
        {% endfor %}
    ],
    "description": "{{ product.subtitle|default:product.description|safe }}",
    "sku": "{{ product.string_id }}",
    "brand": {
        "@type": "Brand",
        "name": "{{ product.supplier|default:'N/A' }}"
    },
    "offers": {
        "@type": "Offer",
        "priceCurrency": "NOK",
        "price": "{{ product.sale_price|default:product.price }}",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "{{ product.instock|stock_url }}"
    }
}
</script>

<script>
// Wait for the DOM to load
document.addEventListener('DOMContentLoaded', function() {
    var mainImageLink = document.getElementById('main-image-link');
    var mainImage = document.getElementById('main-image');
    var thumbnails = document.querySelectorAll('.product-thumbnail');
    var hiddenLinksContainer = document.querySelector('.product-image-section div[style="display: none;"]');

    function updateLightboxLinks() {
        // Remove all current hidden links from the lightbox
        while (hiddenLinksContainer.firstChild) {
            hiddenLinksContainer.removeChild(hiddenLinksContainer.firstChild);
        }

        // Add all thumbnails as hidden links to the lightbox except the current main image
        thumbnails.forEach(function(thumbnail) {
            if (mainImage.src !== thumbnail.src) {
                var newLink = document.createElement('a');
                newLink.href = thumbnail.src;
                newLink.setAttribute('data-lightbox', 'product-gallery');
                newLink.setAttribute('data-title', thumbnail.alt);
                hiddenLinksContainer.appendChild(newLink);
            }
        });
    }

   // Add an event listener to each thumbnail
    thumbnails.forEach(function(thumbnail, index) {
        thumbnail.parentElement.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default anchor behavior

            var newSrc = thumbnail.src;
            var newAlt = thumbnail.getAttribute('alt');

            // Only proceed if the new image is different from the current one
            if (mainImage.src !== newSrc) {
                // Fade out the image
                mainImage.style.opacity = 0;

                setTimeout(function() {
                    // After fade-out transition, set the new image source
                    mainImage.src = newSrc;
                    mainImage.alt = newAlt;
                    mainImageLink.href = newSrc;
                    mainImageLink.setAttribute('data-title', 'Image ' + (index + 1) + '/' + thumbnails.length);
                    
                    // Update the lightbox links to exclude the current main image
                    updateLightboxLinks();
                    
                    // Wait a moment before fading the image back in to ensure it has loaded
                    setTimeout(function() {
                        mainImage.style.opacity = 1;
                    }, 100); // Slight delay for image to load
                }, 600); // This timeout duration should match the CSS transition duration
            }
        });
    });


    // Initialize lightbox links
    updateLightboxLinks();

     // Tab functionality
    var tabs = document.querySelectorAll('.tab-item');
    tabs.forEach(function(tab) {
        tab.addEventListener('click', function() {
            // Remove 'active' class from all tabs
            tabs.forEach(function(tab) {
                tab.classList.remove('active');
            });
            // Add 'active' class to the clicked tab
            this.classList.add('active');
        });
    });

});

function openTab(event, tabName) {
    // Get all elements with class="tab-content" and hide them
    var tabcontent = document.getElementsByClassName("tab-content");
    for (var i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tab-item" and remove the class "active"
    var tablinks = document.getElementsByClassName("tab-item");
    for (var i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    event.currentTarget.className += " active";
}

</script>
<style>
.featured-product-item {
    width:350px;
}

</style>

{% endblock %}


{% block content %}
{% if product.enabled %}
<div class="product-page-master">
    <div class="product-page-container">



    <div class="product-image-section">
        <!-- Check if the product has images and display the first one as the main image -->
        {% if product.images.count > 0 %}
            <a href="{{ product.images.all.0.image.url }}" data-lightbox="product-gallery" data-title="{{ product.title }}" id="main-image-link">
                <img id="main-image" src="{{ product.images.all.0.image.url }}" alt="{{ product.title }}" class="main-product-image">
            </a>

            <!-- Hidden links for lightbox -->
            <div style="display: none;">
                {% for image in product.images.all %}
                    {% if image and image.image %}
                        <a href="{{ image.image.url }}" data-lightbox="product-gallery" data-title="Image {{ forloop.counter }}"></a>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <!-- Fallback if no images are available -->
            <img src="{{ MEDIA_URL }}default_image.png" alt="Default Image" class="main-product-image">
        {% endif %}
    </div>

    {% if product.images.count > 1 %}
        <div class="product-thumbnails-section">
            <!-- Thumbnails -->
            {% for image in product.images.all %}
                {% if image and image.image %}
                    <a href="{{ image.image.url }}">
                        <img src="{{ image.image.url }}" alt="Thumbnail {{ forloop.counter }}" class="product-thumbnail">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
        
    <div class="product-details-section">
        <div class="category-header">
            {% get_category_breadcrumbs product.category as category_breadcrumbs %}
            {% for category in category_breadcrumbs %}
                <a style="color: black; text-decoration: none" href="{% url 'category_search' category.name %}">
                    <p>{{ category.name|title }}</p>
                </a>
                {% if not forloop.last %}<span style="margin-right:5px; margin-left: 5px">></span>{% endif %}
            {% endfor %}
        </div>
        <h1 class="product-page-title">{{ product.title }}</h1>
        

        <!-- Product description -->
        <p class="product-description">{{ product.subtitle }}</p>
        <!-- Additional details section -->
        <div class="additional-details">
            <p>{{ product.description|safe }}</p>
        </div>

        <div class="product-page-price-section">
            {% if product.sale_price %}
                <p class="product-page-price">{{ product.sale_price }} kr</p>
                <p class="product-page-price-dashed">{{ product.price }} kr</p>
            {% else %}
                <p class="product-page-price">{{ product.price }} kr</p>
            {% endif %}
        </div>

        <!-- Purchase buttons and options -->



<div class="purchase-options">
    <form action="{% url 'add_to_cart' product.id %}" method="post" class="add-to-cart-form">
        {% csrf_token %}
        <!-- Quantity select box -->
        <label for="quantity">Quantity:</label>
        <select id="quantity" name="quantity">
            {% for number in quantity_range %}
                <option value="{{ number }}">{{ number }}</option>
            {% endfor %}
        </select>
        <br>
        {% if product.instock %}
            <p>Vi har {{ product.instock }}stk på lager</p>
            <button type="submit" class="add-to-cart-btn">{{ text_areas_all.purchase_button_1 }}</button>
        {% else %}
            <p>Produktet er dessverre utsolgt.</p>
        {% endif %}
        
    </form>
</div>


    </div>

    </div>

    <div class="product-info-section">
        <div class="product-tabs">
            <span class="tab-item active" onclick="openTab(event, 'Beskrivelse')">{{ text_areas_all.product_desc_item_1 }}</span>
            <span class="tab-item" onclick="openTab(event, 'Detaljer')">{{ text_areas_all.product_desc_item_2 }}</span>
            {% if product.more_information %}
                <span class="tab-item" onclick="openTab(event, 'MerInformasjon')">{{ text_areas_all.product_desc_item_3 }}</span>
            {% endif %}
        </div>
        <div id="Beskrivelse" class="tab-content">
            <p>{{ product.description|safe }}</p>
        </div>
        <div id="Detaljer" class="tab-content" style="display: none;">
            <div class="description-section">

      <div class="description-row">
        <div class="description-column">
          <h4>Farge</h4>
          <p>
            {% if product.color %}
                {{ product.color }}
            {% else %}
                Ingen fargeinformasjon tilgjengelig
            {% endif %}
        </p>
        </div>
        <div class="description-column">
          <h4>Materiale</h4>
          <p>
            {% if product.material %}
                {{ product.material }}
            {% else %}
                Ingen materialeinformasjon tilgjengelig
            {% endif %}
        </p>
        </div>
    <div class="description-column">
        <h4>Dimensjoner</h4>
        <p>
            {% if product.height is not None or product.width is not None or product.depth is not None or product.length is not None %}
                {% if product.height is not None %}
                    Høyde: {{ product.height }}cm
                {% endif %}
                {% if product.width is not None %}
                    Bredde: {{ product.width }}cm
                {% endif %}
                {% if product.depth is not None %}
                    Dybde: {{ product.depth }}cm
                {% endif %}
                {% if product.length is not None %}
                    Lengde: {{ product.length }}cm
                {% endif %}
            {% else %}
                Ingen mål tilgjengelig
            {% endif %}
        </p>
    </div>
      </div>
      <div class="description-row">
        <!--
        Mangler hva som skal stå her
        <div class="description-column">
          <h4>Tomt felt</h4>
          <p>Legg inn info her</p>
        </div>
        <div class="description-column">
          <h4>Tomt felt</h4>
          <p>Legg inn info her</p>
        </div>
        -->
        <div class="description-column">
          <h4>Leverandør</h4>
          <p>
            {% if product.supplier %}
                <a style="text-decoration: none; color: black;" href="{% url 'supplier_search' product.supplier %}">
                    {{ product.supplier }}
                </a>
            {% else %}
                Ingen leverandørinfo tilgjengelig
            {% endif %}
        </p>
        </div>
      </div>
    </div>
        </div>
        <div id="MerInformasjon" class="tab-content" style="display: none;">
            <p>
            {% if product.more_information %}
                {{ product.more_information}}
            {% else %}
                Ingen ekstra informasjon tilgjengelig
            {% endif %}
        </p>
        </div>
        {% if user.is_authenticated %}
            <br>
            <p>Du er logget inn som admin, vil du <a style="color: black;" href="{% url 'edit_product' product.id %}">redigere produktet?</a></p>
        {% endif %}
    </div>



    <div class="main-container">
        <div class="related-products-header">
          <h2>{{ text_areas_all.recent_product_header }}</h2>
          <p>{{ text_areas_all.recent_product_text }}</p>
        </div>

        <div class="product-cards-section" style="justify-content: center;">
            {% for product in recent_products %}
              {% include 'product/single_product_code.html' %}
            {% endfor %}
          </div>

        </div>
    </div>
</div>
{% else %}
<div style="text-align: center;">
<p>Dette produktet er dessverre deaktivert.</p>
{% if user.is_authenticated %}
    <br>
    <p>Du er logget inn som admin, vil du <a style="color: black;" href="{% url 'edit_product' product.id %}">redigere produktet?</a></p>
</div>
{% endif %}
{% endif %}
{% include 'base/footer.html' %}
{% endblock %}